<section id="about" class="about">
  <div class="container">
    

    <div class="section-title">
      <h2>Fill the details<\h2>

    <\div>
    <div class="row content">
      <div class="first">
        <form action="{{url_for('Y_predict')}}" method="post">
            <input type="numbr" id="sen2" name="sen2" placeholder="Gender M(0),F(0)">
            <input type="number" id="sen3" name="sen3" placeholder="Stream CS(0),IT(1),ECE(2),Mech(3),EEE(4),civil">
            <input type="number" id="sen4" name="sen4" placeholder="Internships">
            <input type="number" id="sen5" name="sen5" placeholder="CGPA">
            <input type="number" id="sen6" name="sen6" placeholder="Number of backlogs">
            <input type="submit" value="Submit">
          </form>
        </div>
      </div>

    </div>    
  </section> <1-- End About Us Section -->